body{
    text-align: center;
}

.header{
    background-color: rgb(34, 34, 34);
    height: 6rem;
}

.footer{
    background-color: rgb(34, 34, 34);
    height: 6rem;
}

.content{
    background-color: transparent;
}

.card{
    margin: auto;
    width: 18rem;
}

#add{
    border: solid black 3px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    text-align: center;
}
@media screen{
    .card-title, .card-text{
        font-family: "Old English Text MT";
    }

}
@media screen{
    .header, .footer, .navbar, .content, .card{
        text-align: center;
    }
}