body{
    text-align: center;
}

.header{
    background-color: blue;
    height: 12rem;
}

.footer{
    background-color: aqua;

}

.content{
    background-color: brown;
}

.card{
    background-color: black;
}

@media screen{
    .header, .footer, .navbar, .content, .card{
        text-align: center;
    }
}